bleach==1.5.0
cycler==0.10.0
Cython==0.24.1
decorator==4.4.2
deskew==0.10.2
enum34==1.1.10
h5py==2.10.0
html5lib==0.9999999
imageio==2.8.0
ipython==5.1.0
ipython-genutils==0.2.0
Keras==2.1.5
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
Markdown==3.2.1
matplotlib==3.2.1
networkx==2.4
numpy==1.14.2
opencv-python==3.4.0.12
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.0.0
prompt-toolkit==1.0.18
protobuf==3.11.3
ptyprocess==0.6.0
pycodestyle==2.5.0
Pygments==2.6.1
pyparsing==2.4.6
python-dateutil==2.8.1
pytz==2019.3
PyWavelets==1.1.1
PyYAML==5.3
scikit-image==0.16.2
scipy==1.4.1
Shapely==1.6.4.post1
simplegeneric==0.8.1
six==1.14.0
tensorflow==1.4.0
tensorflow-tensorboard==0.4.0
tqdm==4.11.2
traitlets==4.3.3
typing==3.7.4.1
UNKNOWN==0.0.0
uuid==1.30
wcwidth==0.1.8
Werkzeug==1.0.0
